   @import url("./root.css");
@import url("./reset.css");

   .qr-code__attribution { font-size: 0.69rem; text-align: center; color: var(--color-Slate-500); }
    .qr-code__attribution a { color: var(--color-Slate-900); }
