@import url("/assets/styles/root.css");
@import url("/assets/styles/reset.css");


  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
  }
  /* Main container */
  .qr-code {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 31.19rem;
    background-color: var(--color-White);
    padding: var(--space-sm) var(--space-sm) var(--space-lg) var(--space-sm);
    border-radius: 1.25rem;
    gap: var(--space-md);
  }

  /* image */
  .qr-code__image {
    border-radius: 1.25rem;
  }

  /* container text */
  .qr-code .qr-code__container {
    width: 18rem;
    height: 8.19rem;
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
    padding:  0 var(--space-sm) 0 var(--space-sm) ;
  }
  .qr-code__title {
    font-size: var(--txt-lg);
    text-align: center;
    color: var(--color-Slate-900);
    line-height: var(--txt-line-height-1);
  }
.qr-code__text{
    font-size: var(--txt-sm) ;
color: var(--color-Slate-500);
text-align: center;
font-weight:400;
line-height: var(--txt-line-height-2);
letter-spacing: var(--txt-letter-space);
}
