
:root{
    /*----------------------
    Color
     -----------------------*/
    --color-Slate-900: #1F314F;
    --color-Slate-500:#68778D;
    --color-Slate-300:#D5E1EF;
    --color-White:#FFFFFF;

    /* ---------------------
    Typography
    ------------------------*/
    /* Font Size */
    --txt-lg: 1.375rem;
    --txt-sm:0.94rem;

    /* Line Height */
    --txt-line-height-1:120%;
    --txt-line-height-2:140%;

    /* Letter Spacing */
    --txt-letter-space:0.0.0125rem;

    /* ----------------------
    Spacing
    ------------------------- */
    --space-lg: 2.5rem;
    --space-md:1.5rem;
    --space-sm:1rem;
}
